/* Media Queries */
@media screen and (min-width: 701px) {
  ul {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .index-header-flex {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .contenedor-Cards {
    justify-content: center;
  }

  .contenedor-Cards-index {
    display: flex;
  }

  .card-ropa {
    width: 18rem;
    min-height: 500px;
  }

  .contacto-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .contacto-form {
    flex: 1;
  }

  .quienes_somos {
  max-width: 900px; 
  margin: 0 auto;   
  padding: 2rem;    
  
  h2, p {
    text-align: justify; 
  }
}

  .quienes_somos_presentacion {
    font-size: 1.5rem;
    padding: 1rem 0rem;
    text-align: left;
  }

  .fondo-nosotras {
    align-items: flex-start;
    padding-top: 8.5rem;
    min-height: auto;
  }

  .presentacion {
    font-size: 1rem;
   
  }

  .titulo {
    font-size: 3rem;
  }

  .subtitulo {
    font-size: 1.2rem;
  }

  .banner-nueva-coleccion {
    height: 300px;
  }
  
   .texto-izquierda {
      font-size: 8rem !important;
    }

    .texto-derecha {
      font-size: 8rem !important;
       bottom: 1rem;
      
    }

.card-ropa-index {
  flex: 0 0 21%;
} 

}

@media (max-width: 992px) {
    #contenedor-productos {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
    .card-ropa {
        width: auto; 
        min-height: auto;
    }
    
}

@media (max-width: 768px) {
  #contenedor-productos {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
  }
  .card-ropa {
      width: auto; 
  }
}

@media (max-width: 576px) {
  #contenedor-productos {
    grid-template-columns: repeat(2, 1fr); 
}
}

@media (max-width: 767.98px) {
    .contenedor-Cards-index {
        // Obliga a las tarjetas a estar en una sola fila (flex) y no saltar de línea (nowrap)
        display: flex;
        flex-wrap: nowrap;
        
        // Habilita el deslizamiento horizontal
        overflow-x: scroll;
        
        // Opcional: Elimina la barra de desplazamiento
        -ms-overflow-style: none; /* Para IE/Edge */
        scrollbar-width: none;    /* Para Firefox */
        &::-webkit-scrollbar {
            display: none;        /* Para Chrome/Safari/Opera */
        }

        // Espaciado para que se vea mejor
        padding-bottom: 1rem;
        padding-left: 1rem;
        
        .card-ropa-index {
            // Define el ancho fijo de la tarjeta para que se vean solo 1 o 2 a la vez
            min-width: 55%; /* Ocupa el 80% del ancho del móvil */
            max-width: 55%;
            
            // Añade espacio entre las tarjetas
            margin-right: 0.3rem; 
            
            // Opcional: Ayuda a que se detenga bien al deslizar
            scroll-snap-align: start; 
        }
    }
}